*.class

# Package Files #
*.jar
*.war
*.ear

# jedit backup files
*~

# MAC OS
.DS_Store

# Eclipse (generate them using gradle eclipse)
.classpath
.project
.settings

# Gradle
.gradle
gradle
gradle-app.setting
build
eclipse-build
